<app-header titulo="Estadísticas"></app-header>

<ion-content>
    <app-mesas-mas-usadas></app-mesas-mas-usadas>
    <app-anonimos-por-dia></app-anonimos-por-dia>
    <app-clientes-por-dia></app-clientes-por-dia>
    <app-mozo-mayor-pedido></app-mozo-mayor-pedido>
    <app-clientes-rechazados-por-dia></app-clientes-rechazados-por-dia>
    <!-- <app-pedidos-por-dia></app-pedidos-por-dia>
    <app-reservas-por-dia></app-reservas-por-dia>
    <app-plato-mas-pedido></app-plato-mas-pedido> -->
</ion-content>