<div class="ion-activatable centrado">
  <ion-card mode="ios" color="dark">
    <ion-card-header>
      <ion-card-title>Cliente: {{delivery.cliente.nombre}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-chip color="success" mode="ios" outline="true">
        <ion-label>Pedido de delivery para {{delivery.fechaInicio | date: 'd/M/yy'}} </ion-label>
      </ion-chip>
      <ion-chip color="success" mode="ios" outline="true">
        <ion-label>A las {{delivery.fechaInicio | date: 'shortTime' :'UTC'}} hs</ion-label>
      </ion-chip>
      <br>
      <ion-chip color="success" mode="ios" outline="true">
        <ion-label> Dirección: </ion-label>
      </ion-chip>
      <br>
      <ion-chip color="success" mode="ios" outline="true">
        <ion-label>Ubicarcion delivery?: </ion-label>
      </ion-chip>
      <br>
      <ion-chip color="success" mode="ios" outline="true">
        <ion-label>Estado?: </ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
 
</div>